<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Bootstrap CSS -->


    <title>Hello, world!</title>
  </head>
  <body>
  <div class="topic">OUTFIT SHOPPING SYSTEM</div>

<div class=" mt-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_us">AboutUs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category</a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="/?category={{category.id}}" role="button">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name}}</option>
           {% endfor %}
          </a>
           {% comment %} <a class="dropdown-item" href="#">Male</a>
          <a class="dropdown-item" href="#">Female</a>
          <a class="dropdown-item" href="#">Others</a> {% endcomment %}
        </div>
        {% comment %} <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <select >
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name}}</option>
         {% endfor %}
        </select>
      </a> {% endcomment %}
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/log_in">LogIn</a>
{% comment %}           
          {% if request.session.user %}
          Welcome 👏 {{request.session.user}}
          <a class="nav-link" href="/log_in">logout</a>
        {%else%}
        <a class="nav-link" href="/log_in">LogIn</a>
        {%else%} {% endcomment %}


      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
{% block content %}

{% endblock %}
<div class="container-fluid foot_content">
  <div class="row">
    <div class="col-md-3">
      <h1 class="heading">INFORMATION</h1>
      <hr style="height:3px;color:red;background-color:gray">
      <h1 class="content">Warrenty and services</h1>
      <h1 class="content">Wholesales</h1>
      <h1 class="content">Privacy polices</h1>
      <h1 class="content">Delivery Charges</h1>

    </div>
    <div class="col-md-3">
      <h1 class="heading">MOBILE APP</h1>
      <hr style="height:3px;color:red;background-color:gray">
      <h1 class="content">Comming Soon</h1>

    </div>
    <div class="col-md-3">
      <h1 class="heading">LINKS</h1>
      <hr style="height:3px;color:red;background-color:gray">
      <h1 class="content">Home</h1>
      <h1 class="content">Aboutus</h1>
      <h1 class="content">Contactus</h1>
      <h1 class="content">FAQ</h1>
    </div>
    <div class="col-md-3">
       <h1 class="heading">CONTACT</h1>
      <hr style="height:3px;color:red;background-color:gray">
      <h1 class="content">Address:Chabehel, Kathmandu</h1>
      <h1 class="content">Contact: 9834242235,983242545</h1>
      <h1 class="content">Email:hamroutlet@gmail.com</h1>
    </div>
  </div>
</div>
    <div class="bottom">
    <h1 class="copyright">@copyright all reserved by OMTHOKAR</h1>
  </div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>